body {
    background-color: rgb(0, 15, 25);
}
#title {
    color: brown;
    text-align: center;
}
main {
    height: 400px;
    width: 1040px;
    background-color: antiquewhite;
    margin: 100px;
    padding: 50px;
}

form {
    display: grid;
    text-align: center;
}
.pagination {
    display: flex;
    justify-content:center;
}
.page-item{
    border-radius: 50px;
    margin: 10px;
}
.page-item:hover{
    background-color: blue;
}
#submitBtn {
    width: 100px;
    margin-top: 30px;
}